<%= form_for(@scoring) do |f| %>

  <div class="field">
    <%= f.label :exercise_result %>
    <%= f.number_field :exercise_result %>
  </div>

  <div class="field">
    <%= f.label :meal_result %>
    <%= f.check_box :meal_result %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>