<%= form_for(@scoring) do |f| %>

  <div class="field">
    <%= f.label :exercise_result %>
    <%= f.select :exercise_result, Scoring.exercise_results.keys.map { |k| [k, k] } %>
  </div>

  <div class="field">
    <%= f.label :meal_result %>
    <%= f.check_box :meal_result %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>