<div class="container">

	<h2 class="text-center"><%= @scoring.start_time.strftime("%m/%d").to_s %>を採点</h2>

	<div class="row">
		<%= form_for(@scoring) do |f| %>

		  <div class="field col-md-6 text-center">
		    <h4>今日のトレーニングは星いくつ？</h4>
		    <p><%= f.radio_button :exercise_result, 0 %>：★なし</p>
		    <p><%= f.radio_button :exercise_result, 1 %>：★ 1つ</p>
		    <p><%= f.radio_button :exercise_result, 2 %>：★ 2つ</p>
		    <p><%= f.radio_button :exercise_result, 3 %>：★ 3つ</p>
		  </div>

		  <div class="field col-md-6 text-center">
		    <h4>食事目標を達成できたらチェック！</h4>
		    <p><%= f.check_box :meal_result %></p>
		  </div>

		  <div class="actions text-center col-md-12">
		    <%= f.submit "採点する",  class: "btn btn-primary" %>
		  </div>

		<% end %>
	</div>

	<div class="media mypage col-xs-8 col-xs-offset-2">
	    <div class="media-left">
	        <%= image_tag 'teacher.png', :size =>'180x200' %>
	    </div>

	    <div class="media-body">
	        <p>その日の目標がどの程度達成できたか自己採点しましょう</p>
            <p>トレーニング目標は★0〜3つで採点しましょう</p>
            <p>　★なし:何もやってない</p>
            <p>　★ 1つ:トレーニングはしたが、目標以下しかできなかった</p>
            <p>　★ 2つ:目標通りトレーニングができた</p>
            <p>　★ 3つ:目標以上にトレーニングができた</p>
            <p>食事目標が達成できたらチェックしましょう</p>
	    </div>
	</div>

</div>