<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>会員編集画面</h1>

			<% if @user.errors.any? %>
			  <h4>Error:</h4>
			  <ul>
			    <% @user.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
			  </ul>
			<% end %>

			<%= form_for(@user) do |f| %>
				<div class="field">
					<h4>名前</h4>
					<%= f.text_field :name, class: "name" %>
				</div>

				<div class="field">
					<h4>プロフィール画像</h4>
					<p><%= f.attachment_field :profile_image, class: "user_image" %></p>
				</div>

				<div class="field">
					<h4>自己紹介</h4>
					<%= f.text_area :introduction, rows:'5', class: "introduction form-control" %>
				</div>

				<div class="actions">
					<%= f.submit "変更する",  class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>