<div class="container">
	<h1>会員詳細</h1>

	<%= month_calendar events: @scorings do |date, scorings| %>
  		<%= date %>

	  <% scorings.each do |scoring| %>
	    <div>
	      <p>トレーニング目標<%= link_to "★:#{scoring.exercise_result}つ", edit_scoring_path(scoring.id) %></p>
	      
	      <p>食事目標</p>
	      <%= link_to "#{scoring.meal_result_str}", edit_scoring_path(scoring.id) %>
	    </div>
	  <% end %>
	<% end %>

	<%= line_chart @chart.group_by_day(:start_time).sum(:exercise_result) %>
	<%= pie_chart current_user.scorings.group(:meal_result).count %>
</div>