<div class="jumbotron mypage">
	<h1 class="text-center">My Page</h1>
</div>

<div class="container">

	<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <div class="row">
		<div class="col-md-8">
			<h3>投稿一覧</h3>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>ジャンル</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @posts.each do |post| %>
						<tr>
							<td><%= link_to post.title,post %></td>
							<td><%= post.genre.genre_name %></td>
							<td>いいね：<%= post.favorites.count %>件</td>
							<td>コメント:<%= post.post_comments.count %>件</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to "新規投稿", new_post_path, class: "btn btn-default col-xs-6 col-xs-offset-3" %>
		</div>

		<div class="col-md-4 text-center">
			<%= attachment_image_tag @user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg", class: "img-circle" %>
			<h4>名前：<%= @user.name %></h4>
			<p>自己紹介<br><%= @user.introduction %></p>
			<% if @user.id == current_user.id %>
				<%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-default" %>
			<% end %>
		</div>
	</div>

	<% if @user.id == current_user.id %>
		<div class="row">
			<div class="col-md-8 text-center">
				<h3 class="text-center">トレーニング達成度チャート</h3>
				<%= line_chart @chart.group_by_day(:start_time).sum(:exercise_result), colors: ["#fbca4d", "#666"], width: "750px", height: "330px" %>
			</div>

			<div class="col-md-4 text-center">
				<h3>食事目標達成度チャート</h3>
				<p>赤:達成　灰:未達成(過去30日分)</p>
			<%= pie_chart @chart.group(:meal_result).count, legend: false, colors: ["gray", "#ba2636"], width: "350px", height: "300px" %>
			</div>
		</div>

		<div class="media mypage">
	        <div class="media-left">
	            <%= image_tag 'teacher.png', :size =>'180x200' %>
	        </div>

	        <div class="media-body">
	        	<p>まずはトレーニングの目標を立てましょう</p>
		        <p>　(例)トレーニング目標:土曜日はジムでトレーニングする、休日はランニングを30分する など</p>
		        <p>　(例)食事目標:1日に1回はサラダを食べる、夕食は白米を食べない など</p>
		        <p>目標を立てるコツは、最初から難しい目標を立てず少しの努力で達成できるものにしましょう</p>
		        <p>※最初から難しい目標を立ててもどうせ続きません...</p>
		        <p>無理なく達成できるようになったら、さらにもう少し難しいものに目標を再設定しましょう</p>
		        <p>また目標達成できなかったときのためのペナルティーを設定し、トレーニング・食事目標をおろそかにしないようにしましょう</p>
		        <p>　(例)ペナルティー:1週間アルコール禁止、目標不達成のたびに500円貯金をする　など</p>
	        </div>
	    </div>

		<div class="row">

			<div class="col-md-2 text-left">

				<%= form_for(@user) do |f| %>
					<div class="field">
						<h4>トレーニング目標</h4>
						<%= f.text_area :exercise_rule, class: "exercise_rule" %>
					</div>

					<div class="field">
						<h4>食事目標</h4>
						<%= f.text_area :meal_rule, class: "meal_rule" %>
					</div>

					<div class="field">
						<h4>ペナルティー</h4>
						<%= f.text_area :penalty, class: "penalty" %>
					</div>

					<div class="actions">
						<%= f.submit "目標を変更する",  class: "btn btn-default" %>
					</div>
				<% end %>
			</div>

			<div class="col-md-10 text-center">
				<h3>目標トラッカー</h3>
				<%= month_calendar events: @scorings do |date, scorings| %>
			  		<%= date %>

				  <% scorings.each do |scoring| %>
				    <div>
				    	<%= link_to edit_scoring_path(scoring.id) do %>
						    <p class="fas fa-dumbbell">  ★:<%= scoring.exercise_result %>つ</p><br>
						    <p class="fas fa-utensils">  <%= scoring.meal_result_str %></p>
				      	<% end %>
				    </div>
				  <% end %>
				<% end %>
			</div>

		</div>
	<% end %>

</div>