<div class="jumbotron">
	<h1 class="text-center">Detail</h1>
</div>

<div class="container postshow">

	<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

	<div class="row">

		<div class="col-md-2">
			<p class="text-center"><%= attachment_image_tag(@post.user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg", class: "img-circle") %></p>
			<h4 class="text-center"><%= @post.user.name %></h4>
			<% if @post.user.id == current_user.id %>
				<p class="text-center"><%= link_to "編集",edit_post_path(@post.id), class: "btn-sm btn-default" %>
				<%= link_to "削除",post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></p>
			<% end %>
		</div>

		<div class="col-md-10">
			<h2 class="text-center">「<%= @post.title %>」</h2>
			<%= attachment_image_tag(@post, :post_image, :fill, 700, 350, class: "center-block") %>
			<div class="text-right">
				<p>ジャンル：<%= @post.genre.genre_name %></p>
				<div class="post_<%= @post.id %>">
					<%= render 'detail', post: @post %>
				</div>
			</div>
			<p>本文：<br><%= @post.body %></p>
		</div>

	</div>

	<div class="comment_<%= @post.id %>">
		<%= render 'comment', post_comments: @post.post_comments %>
	</div>
	<!-- コメント入力フォーム -->
	<%= form_for [@post, @post_comment], data: {remote: true} do |f| %>
		<p><%= f.text_area :comment, rows:'3', class: "form-control" %></p>
		<p><%= f.submit "送信する",  class: "btn btn-default" %></p>
	<% end %>
</div>