<div class="jumbotron">
	<h1 class="text-center">Detail</h1>
</div>

<div class="container postshow">

	<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

	<div class="row">

		<div class="col-md-2">
			<p class="text-center"><%= attachment_image_tag(@post.user, :profile_image, :fill, 90, 100, fallback: "no_image.jpg", class: "img-circle") %></p>
			<h4 class="text-center"><%= @post.user.name %></h4>
			<% if @post.user.id == current_user.id %>
				<p class="text-center"><%= link_to "編集",edit_post_path(@post.id), class: "btn-sm btn-default" %>
				<%= link_to "削除",post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></p>
			<% end %>
		</div>

		<div class="col-md-10">
			<h2 class="text-center">「<%= @post.title %>」</h2>
			<%= attachment_image_tag(@post, :post_image, :fill, 700, 350, class: "center-block") %>
			<div class="text-right">
				<p>ジャンル：<%= @post.genre.genre_name %></p>
				<% if @post.favorited_by?(current_user) %>
					<%= link_to post_favorites_path(@post), method: :delete do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						<span style="color: red;"><%= @post.favorites.count %></span>
					<% end %>
				<% else %>
					<%= link_to post_favorites_path(@post), method: :post do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<%= @post.favorites.count %>
					<% end %>
				<% end %>
			</div>
			<p>本文：<br><%= @post.body %></p>
		</div>

	</div>

	<p class="text-right">コメント件数:<%= @post.post_comments.count %>件</p>
	<table class="table">
		<% @post.post_comments.each do |post_comment| %>
		<tr>
			<td><%= post_comment.user.name %></td>
			<td><%= post_comment.comment %></td>
			<td>
				<% if post_comment.user.id == current_user.id %>
					<%= link_to "Destroy",post_post_comments_path(@post), method: :delete, class: "btn-sm btn-danger" %>
  				<% elsif current_user == @user || current_user.admin? %>
  						<%= link_to "Destroy",post_post_comments_path(@post), method: :delete, class: "btn-sm btn-danger" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<!-- コメント入力フォーム -->
	<%= form_for [@post, @post_comment] do |f| %>
		<p><%= f.text_area :comment, rows:'3', class: "form-control" %></p>
		<p><%= f.submit "送信する",  class: "btn btn-default" %></p>
	<% end %>
</div>