<div class="container">
	<h1>投稿詳細画面</h1>

	<%= attachment_image_tag(@post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %><br>
	<%= @post.user.name %><br>

	<%= @post.title %>
	<%= @post.genre.genre_name %>
	<%= attachment_image_tag(@post, :post_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %><br>
	<%= @post.body %><br>

	<%= link_to "Edit",edit_post_path(@post.id), class: "btn-sm btn-success" %>
	<%= link_to "Destroy",post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
</div>