<!DOCTYPE html>
<html>
  <head>
    <title>I'LL BE ..</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>

    <!-- ヘッダー部 -->
    <header class="navbar navbar-fixed-top">
      <div class="container">

        <nav class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <span><%= current_user.name %>さん、ごきげんよう！</span>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
              <li><%= link_to ' My Page', user_path(current_user) %></li>
              <li><%= link_to ' All Users', users_path %></li>
              <li><%= link_to ' All Posts', posts_path %></li>
              <li><%= link_to ' Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to ' Top', root_path %></li>
              <li><%= link_to ' About', homes_about_path %></li>
              <li><%= link_to ' Signup', new_user_registration_path %></li>
              <li><%= link_to ' Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <%= yield %>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
              <h3><%= image_tag 'footer-usagi.png', :size =>'50x50' %>I'LL BE ..<%= image_tag 'footer-kaeru.png', :size =>'50x50' %></h3>
          </div>
        </div>
    </nav>

  </body>
</html>
